@font-face {
  font-family: 'Moderat';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Moderat-Bold.eot'), url('../fonts/Moderat-Bold.eot?#iefix') format('embedded-opentype');
}

@font-face {
  font-family: 'Moderat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Moderat-Regular.otf'), url('../fonts/Moderat-Regular.otf?#iefix') format('embedded-opentype');
}

@font-face {
  font-family: 'Moderat';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Moderat-Medium.otf'), url('../fonts/Moderat-Medium.otf?#iefix') format('embedded-opentype');
}

@font-face {
  font-family: 'Moderat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Moderat-Bold'), url('../fonts/Moderat-Bold?#iefix') format('embedded-opentype');
}
