:root {
  --header-height: 56px;

  --white: #ffffff;

  --primary-blue: #483fdd;
  --primary-green: #5cd6c0;
  --primary-dark-blue: #151d51;

  --secondary-dark-green: #009796;
  --secondary-light-blue: #5579f0;
}
