.button {
  font-weight: 700;
  letter-spacing: -0.54px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  color: var(--white);
  background-color: var(--primary-blue);
  transition: 0.3s;

  &:active {
    background-color: var(--secondary-light-blue);
  }

  &.small {
    font-size: 14px;
    line-height: 18px;
    height: 32px;
    padding: 0 15px;
  }

  &.large {
    font-size: 18px;
    line-height: 28px;
    height: 47px;
    padding: 0 22px;
  }

  &.isFullWidth {
    width: 100%;
  }
}
